<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel app</title>
  </head>
  <body>
    <section class="header">
      <h1>Travel Planner</h1>
    </section>
    <section class="section1">
      <div class="text-area left">
        <h2>Where do you want to travel?</h2>
        <form>
          <input type="text" placeholder="Paris" />
          <input type="date" />
          <button>Plan</button>
        </form>
      </div>
      <div class="image-holder"></div>
      <section class="section2">
        <div class="text-area left">
          <h3>Paris,France</h3>
          <h3>22 days from now</h3>
        </div>
        <div class="text-area right">
          <h3>Typical weather</h3>
        </div>
      </section>
    </section>
  </body>
</html>
